[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-jazzmin = "*"
django-modeltranslation = "*"
django-phonenumber-field = "*"
django-timezone-field = "*"
drf-yasg = "*"
setuptools = "*"
django-filter = "*"
django-axes = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
